@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	pre {
		@apply w-full p-0 m-0 overflow-auto overflow-y-hidden text-xs leading-5 bg-[#efefef] border;
	}

	pre code {
		@apply p-2 text-[#333];
	}

	body {
		font-family: -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
		/* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif */
	}
}

code {}

.markdownView {
	@apply p-5 h-full;
}

.markdown h2 {
	@apply text-4xl;
}

.markdown h3 {
	@apply text-2xl;
}

.markdown table {
	@apply table text-gray-400 border-separate space-y-6 text-sm;
}

.markdown thead {
	@apply bg-blue-500 text-white;
}

.markdown th {
	@apply p-3 text-left;
}

.token.punctuation {
	@apply dark:text-[#63cff2];
}

/* #ffa657 */
.token.imports {
	@apply dark:text-[#ffa657];
}

.code-line {
	@apply dark:text-slate-200
}
